<div class="button_container">
    <div class="download_button pls_wait">
        <a href="{% if n is defined %}/process_file/{{ n['id'] }}{% endif %}"><i class="fa fa-download" style="color: aqua;" ></i></a>
    </div>
    <div class="play_with_vlc_button">
        <a href="{% if n is defined %}vlc://{{ cf_worker }}/stream_file/{{ n['id'] }}/{{ function(n['name']) }}{% endif %}"><i class="fa fa-play-circle" style="color: orange;"></i></a>
    </div>
    <div class="copy_link_button" style="color: rgb(235, 217, 217);" onclick="{% if n is defined %} copy('{{ cf_worker }}/stream_file/{{ n['id'] }}/{{ function(n['name']) }}'){% endif %}">
        <i class="fa fa-clipboard"></i>
    </div>
      </div>