<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/mainpage_v1.1.css') }}?v2.4">
    <script src="{{ url_for('static', filename='main_v1.0.js') }}?v2.1"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2DBFHQBCKP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-2DBFHQBCKP');
    </script>
</head>

{% set navigation_bar = [
    ('/', 'videos', 'Videos'),
    ('/series.html', 'series', 'Series'),
    ('/files.html', 'files', 'Files')
] -%}
{% set active_page = active_page|default('videos') -%}
{% set navbar_enabled = navbar_enabled|default('true') -%}
<body>
    <header>
        <nav>
            {% if navbar_enabled == 'true' %}
            {% for link, id, name in navigation_bar %}
            <li {% if id == active_page %} class="active_nav"{% endif %}><a href="{{ link }}">{{ name }}</a></li>
            {% endfor %}
            {% endif %}
        </nav>
    </header>
    <div class="main_logo">
        <h1><a href="/">FooGle<sub style="font-size: 14px;" >dev</sub></a></h1>
    </div>
    <div class="please_wait_container" id="please_wait_container_id">
        <div>
            <p>Generating Links....</p>
        </div>
        <div><i onclick="closeBlur()" class="fa-regular fa-rectangle-xmark" style="font-size: 27px;line-height: 1.4;"></i>
        </div>
    </div>

    <div class="main_container" id="main_content_id">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <p><a href="https://github.com/shivamhw">Code by shivamhw <i style="font-style: normal;" class="fa-brands fa-github"></i> </a></p>
    </footer>
</body>

</html>