{% extends "base.html" %} 
{% set navbar_enabled = 'false' %}
{% block title %}Final Link{% endblock %} {% block body %}
<table class="rwd-table">
    <tbody>
        <tr>
            <th colspan="2">Please select your prefered method..</th>
        </tr>
        <td>{{link_dict['name']}} | {{ link_dict['size'] }}</td>
        <td><button class="dwn_button" onclick="copyFunc()" style="background-color: #cc00b5;" id="copyBtn">Copy link</button></td>
        <tr>
            <td>Direct Download Link</td>
            <td><a class="dwn_button" href="{{link_dict['td_override']}}">Download</a></td>
        </tr>
        <tr>
            <td>Google Drive Link</td>
            <td><a class="dwn_button" href="{{ link_dict['gdrive_link'] }}">Download</a></td>
        </tr>
        <tr>
            <td>Play Directly in VLC Media Player<sup> @</sup></td>
            <td><a class="dwn_button" href="vlc://{{link_dict['td_override']}}">Play in VLC</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}