{% extends "base.html" %}
{% set navbar_enabled = 'false' %}
{% block title %}Season Name{% endblock %}

{% block body %}
<template id="season_item_temp">
  <div class="episode_item" onclick="get_links(this);">
    <img class="episode_poster_img" name="" width="150px" src="">
    </img>
    <li name=""></li>
  </div>
  <div class="link_panel">
  </div>
</template>
<div class="seasons_wrapper"></div>
<template id="epi_table_entry">
  <div class="episode_entry_in_table">
    <div class="episode_name">
      <div class="episode_size">
      </div></div>
    <div class="episode_links">
      {% include 'includes/multimedia_buttons.html' %}
    </div>
  </div>
</template>
<script>

  async function get_links(e) {
    console.log(e);
    let link_box = e.nextElementSibling;
    if (link_box.classList.contains("shown")) {
      link_box.classList.remove("shown");
      link_box.innerHTML = "";
    }
    else {
      link_box.classList.add("shown");
      link_box.innerHTML = "Loadinngg.....";
      let series_name = e.querySelector("li").getAttribute("series_name");
      let episode_nm = e.querySelector("li").getAttribute("episode_nm");
      let season_nm = e.querySelector("li").getAttribute("season_nm");
      let url =  `/api/series_search?search_box=${series_name}&sess_nm=${season_nm}&epi_nm=${episode_nm}`;
      let res = await (fetch(url).then(res => res.json()));
      link_box.innerHTML = "";
      
      for(let i=0; i<res.length;i++){
        let temp_node = document.querySelector("#epi_table_entry").content.cloneNode(true);
        temp_node.querySelector(".episode_name").childNodes[0].nodeValue = res[i]["name"];
        temp_node.querySelector(".episode_name").querySelector(".episode_size").innerText = res[i]["size"];
        let media_buttons = temp_node.querySelector(".button_container");
        media_buttons.children[0].children[0].href = res[i]["download_link"];
        media_buttons.children[1].children[0].href = "vlc://"+res[i]["stream_link"];  // stream link
        media_buttons.children[2].addEventListener("click", () => {
          copyToClip(res[i]["stream_link"]);
          alert("Streaming Link Copied");
        });
        link_box.appendChild(temp_node);
      }
      
    }
  }

  function epi_item(item, moviedb_img_path, series_name, season_id) {
    let temp_node = document.querySelector("#season_item_temp").content.cloneNode(true);
    poster = item["still_path"];
    posterUrl = moviedb_img_path + poster;
    temp_node.querySelector("img").src = posterUrl;
    temp_node.querySelector("li").setAttribute("name", item["name"]);
    temp_node.querySelector("img").setAttribute("name", item["name"]);
    let season_nm = "0";
    if (season_id > 10) {
      season_nm = "";
    }
    season_nm = season_nm + season_id;
    console.log(season_nm);
    let episode_nm = "0";
    if (item["episode_number"] > 10)
      episode_nm = "";
    episode_nm = episode_nm + item["episode_number"];
    temp_node.querySelector("li").innerHTML = `${item["episode_number"]}. ${item["name"]}<br><br>${item["overview"]}`;
    temp_node.querySelector("li").setAttribute("series_name", series_name);
    temp_node.querySelector("li").setAttribute("episode_nm", episode_nm);
    temp_node.querySelector("li").setAttribute("season_nm", season_nm);
    return temp_node;
  }

  async function add_episodes(series_id, season_id) {
    let series_name = await (await fetch(`https://api.themoviedb.org/3/tv/${series_id}?api_key=31833e5be915a6e5621728ce631edac1&language=en-US`)).json();
    let box = document.querySelector(".seasons_wrapper");
    let url = `https://api.themoviedb.org/3/tv/${series_id}/season/${season_id}?api_key=31833e5be915a6e5621728ce631edac1&language=en-US`;
    let moviedb_img_path = "https://image.tmdb.org/t/p/w500/";
    let res = await (await fetch(url)).json();
    for (let i = 0; i < res["episodes"].length; i++) {
      let temp_node = epi_item(res["episodes"][i], moviedb_img_path, series_name["name"], season_id);
      box.appendChild(temp_node)
    }
  };


  // calls on load
  add_episodes({{ series_id }}, {{ season_id }});

</script>

{% endblock %}