{% extends "base.html" %}
{% block title %}Series{% endblock %}
{% set active_page = 'series' %}

{% block body %}
<div class="search_box_div" id="search_box_div_id">
  <form id="search_form" type="submit" action="/series_search">
    <input type="text" name="search_box" autocomplete="off" class="search_box" id="search_box">
    <div class="selction_panel">
      <div id="session_selector">
        <select name="sess_nm" id="sess_nm" size="1">
          {% for i in range(1, 20) %}
          <option value="{% if i < 10 %}0{% endif %}{{ i }}">Season {{ i }}</option>
          {% endfor %}
        </select>
      </div>
      <div id="episode_selector">
        <select name="epi_nm" id="epi_nm" size="1">
          {% for i in range(1, 25) %}
          <option value="{% if i < 10 %}0{% endif %}{{ i }}">episode {{ i }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </form>
  <button type="submit" id="btnSubmit" form="search_form"><i class="fa-solid fa-magnifying-glass"
      style="font-size: 1em;padding: 8px; color:white;"></i></button>
</div>
<template id="auto_suggest_item_temp">
  <div class="auto_suggest_item">
    <img class="poster_img" name="" width="100px" src="">
  </img>
    <li name=""></li>
    <div>
</template>
<div class="auto-box" id="auto_box_id"></div>
<script>
  const input = document.querySelector("input");
  input.addEventListener("keyup", async () => {
    let box = document.getElementById("auto_box_id");
    let url = `https://api.themoviedb.org/3/search/tv?api_key=31833e5be915a6e5621728ce631edac1&language=en-US&query=${input.value}&page=1&include_adult=false`;
    let moviedb_img_path = "https://image.tmdb.org/t/p/w200/";
    if (input.value.length == 0) {
      toggleSuggest(0);
      return;
    }
    document.querySelector(".auto-box").innerHTML = "";
    let res = await (await fetch(url)).json();
    console.log(res["results"]);
    if (res["results"].length == 0) {
      toggleSuggest(0);
      return;
    }
    for (var i = 0; i < Math.min(5, res["results"].length); i++) {
      let temp_node = create_auto_suggest_item(res["results"][i], moviedb_img_path);
      box.appendChild(temp_node)
    }
    document.querySelectorAll(".auto_suggest_item").forEach(li => {
      li.addEventListener("click", ListItemCopy);
    });
    toggleSuggest(1);
  });
</script>
{% endblock %}