{% extends "base.html" %}
{% block title %}Series{% endblock %}
{% block nav %}   
<header>
    <nav>
        <li><a href="/">Videos</a></li>
        <li class="active_nav"><a href="#">Series</a></li>
        <li><a href="#">FAQs</a></li>
    </nav>
</header>
{% endblock %}
{% block body %}
<form type="submit" action="/series_search">
  <input class="search_box" autocomplete="off" type="text" name="name" id="name_id"
    placeholder="Add release year after series name, ex. you 2018">
    <div class="selction_panel">
      <div id="session_selector">
        <select name="sess_nm" id="sess_nm" size="1">
          <option value="01">Season 1</option>
          <option value="02">Season 2</option>
          <option value="03">Season 3</option>
          <option value="04">Season 4</option>
          <option value="05">Season 5</option>
          <option value="06">Season 6</option>
          <option value="07">Season 7</option>
          <option value="08">Season 8</option>
          <option value="09">Season 9</option>
          <option value="10">Season 10</option>
        </select>
    </div>
    <div id="episode_selector">
        <select name="epi_nm" id="epi_nm" size="1">
          <option value="01">Episode 1</option>
          <option value="02">Episode 2</option>
          <option value="03">Episode 3</option>
          <option value="04">Episode 4</option>
          <option value="05">Episode 5</option>
          <option value="06">Episode 6</option>
          <option value="07">Episode 7</option>
          <option value="08">Episode 8</option>
          <option value="09">Episode 9</option>
          <option value="10">Episode 10</option>
          <option value="11">Episode 11</option>
          <option value="12">Episode 12</option>
          <option value="13">Episode 13</option>
          <option value="14">Episode 14</option>
          <option value="15">Episode 15</option>
          <option value="16">Episode 16</option>
          <option value="17">Episode 17</option>
          <option value="18">Episode 18</option>
          <option value="19">Episode 19</option>
          <option value="20">Episode 20</option>
          <option value="21">Episode 21</option>
        </select>
    </div>
    </div>
    <input type="submit" class="button" value="Search">
</form>
{% endblock %}