{% extends "base.html" %}
{% block title %}Series{% endblock %}
{% set active_page = 'series' %}

{% block body %}
<div class="search_box_div" id="search_box_div_id">
  <form id="search_form" type="submit" action="/series_search">
    <input type="text" name="search_box" autocomplete="off" class="search_box" id="search_box">
    <div class="selction_panel">
      <div id="session_selector">
        <select name="sess_nm" id="sess_nm" size="1">
          <option value="01">Season 1</option>
          <option value="02">Season 2</option>
          <option value="03">Season 3</option>
          <option value="04">Season 4</option>
          <option value="05">Season 5</option>
          <option value="06">Season 6</option>
          <option value="07">Season 7</option>
          <option value="08">Season 8</option>
          <option value="09">Season 9</option>
          <option value="10">Season 10</option>
        </select>
      </div>
      <div id="episode_selector">
        <select name="epi_nm" id="epi_nm" size="1">
          <option value="01">Episode 1</option>
          <option value="02">Episode 2</option>
          <option value="03">Episode 3</option>
          <option value="04">Episode 4</option>
          <option value="05">Episode 5</option>
          <option value="06">Episode 6</option>
          <option value="07">Episode 7</option>
          <option value="08">Episode 8</option>
          <option value="09">Episode 9</option>
          <option value="10">Episode 10</option>
          <option value="11">Episode 11</option>
          <option value="12">Episode 12</option>
          <option value="13">Episode 13</option>
          <option value="14">Episode 14</option>
          <option value="15">Episode 15</option>
          <option value="16">Episode 16</option>
          <option value="17">Episode 17</option>
          <option value="18">Episode 18</option>
          <option value="19">Episode 19</option>
          <option value="20">Episode 20</option>
          <option value="21">Episode 21</option>
        </select>
      </div>
    </div>
  </form>
  <button type="submit" id="btnSubmit" form="search_form"><i class="fa-solid fa-magnifying-glass"
      style="font-size: 1em;padding: 8px; color:white;"></i></button>
</div>
<div class="auto-box" id="auto_box_id"></div>
<script>
  const searchForm = document.querySelector(".search_box");
  const input = document.querySelector("input");
  let child = document.querySelector(".auto-box");
  input.addEventListener("keyup", async () => {
    let box = document.getElementById("auto_box_id");
    if (input.value.length == 0) {
      box.classList.remove("shown")
      document.getElementById("search_box_div_id").classList.remove("expand")
      return;
    }
    url = `https://api.themoviedb.org/3/search/tv?api_key=31833e5be915a6e5621728ce631edac1&language=en-US&query=${input.value}&page=1&include_adult=false`
    res = await (await fetch(url)).json();
    child.innerHTML = "";
    if (res["results"].length == 0) {
      document.getElementById("search_box_div_id").classList.remove("expand");
      return;
    }
    for(var i=0; i<5;i++){
        // res["results"].forEach(item => {
            item = res["results"][i]
      poster = item["poster_path"]
      posterUrl = "https://image.tmdb.org/t/p/w200/" + poster
      child.innerHTML += `<div class="auto_suggest_item"><img class="poster_img" name="${item["name"]}" width="100px" src="${posterUrl}"></img><li name="${item["name"]}">${item["name"]} - ${item["first_air_date"]} | ${item["origin_country"][0]}<br><br>${item["overview"].slice(0,100)}...</li><div>`
    // });
    }
    function ListItemCopy(e) {
      document.getElementById("search_box_div_id").classList.remove("expand");
      box.classList.remove("shown")
      input.value = e.target.getAttribute("name")
      return;
    }
    document.querySelectorAll(".auto_suggest_item").forEach(li => {
      li.addEventListener("click", ListItemCopy);
    });
    document.getElementById("search_box_div_id").classList.add("expand")
    box.classList.add("shown")
  });
</script>
{% endblock %}